*.out
*.err
*.*~
*.log
core*
src/dstools/__pycache__/extract_ds_orchestrator.cpython-313.pyc
src/casa/test.py
*.dirlock
*.pyc
__pycache__
*.*~
*.lock
catalogues/*
blah
\#*
dask-worker-space/dask-scratch-space/global.lock
dask-worker-space/dask-scratch-space/purge.lock
dask-worker-space/dask-scratch-space/worker-_4ywxuml.dirlock
dask-worker-space/dask-scratch-space/worker-_gqqs3rk.dirlock
dask-worker-space/dask-scratch-space/worker-0lgcukyo.dirlock
dask-worker-space/dask-scratch-space/worker-1v1seko8.dirlock
dask-worker-space/dask-scratch-space/worker-3kxklsnn.dirlock
dask-worker-space/dask-scratch-space/worker-5f025g6z.dirlock
dask-worker-space/dask-scratch-space/worker-6h3qj2kz.dirlock
dask-worker-space/dask-scratch-space/worker-7pl5jtee.dirlock
dask-worker-space/dask-scratch-space/worker-7sh6n5fv.dirlock
dask-worker-space/dask-scratch-space/worker-9m9vwa6h.dirlock
dask-worker-space/dask-scratch-space/worker-295bytq0.dirlock
dask-worker-space/dask-scratch-space/worker-7223voge.dirlock
dask-worker-space/dask-scratch-space/worker-ako31buc.dirlock
dask-worker-space/dask-scratch-space/worker-b36aqotk.dirlock
dask-worker-space/dask-scratch-space/worker-c458aw9l.dirlock
dask-worker-space/dask-scratch-space/worker-cjtcifrc.dirlock
dask-worker-space/dask-scratch-space/worker-crxdmsuu.dirlock
dask-worker-space/dask-scratch-space/worker-d0c52gzz.dirlock
dask-worker-space/dask-scratch-space/worker-ej6e6rwd.dirlock
dask-worker-space/dask-scratch-space/worker-fa9hfmzs.dirlock
dask-worker-space/dask-scratch-space/worker-ht0fjq55.dirlock
dask-worker-space/dask-scratch-space/worker-i6p3a2m4.dirlock
dask-worker-space/dask-scratch-space/worker-iwuiv0m0.dirlock
dask-worker-space/dask-scratch-space/worker-iz5073a8.dirlock
dask-worker-space/dask-scratch-space/worker-jg0hjz10.dirlock
dask-worker-space/dask-scratch-space/worker-jlcm2aq6.dirlock
dask-worker-space/dask-scratch-space/worker-k2dqxug2.dirlock
dask-worker-space/dask-scratch-space/worker-kda4t86c.dirlock
dask-worker-space/dask-scratch-space/worker-kv144pp0.dirlock
dask-worker-space/dask-scratch-space/worker-lh34hx9c.dirlock
dask-worker-space/dask-scratch-space/worker-lrpq0xt9.dirlock
dask-worker-space/dask-scratch-space/worker-n3djn58u.dirlock
dask-worker-space/dask-scratch-space/worker-nhbttrui.dirlock
dask-worker-space/dask-scratch-space/worker-nle8odl2.dirlock
dask-worker-space/dask-scratch-space/worker-no7rcuem.dirlock
dask-worker-space/dask-scratch-space/worker-odw3ambo.dirlock
dask-worker-space/dask-scratch-space/worker-pxcd8ia4.dirlock
dask-worker-space/dask-scratch-space/worker-r5hemgr9.dirlock
dask-worker-space/dask-scratch-space/worker-sopu80em.dirlock
dask-worker-space/dask-scratch-space/worker-sym1624f.dirlock
dask-worker-space/dask-scratch-space/worker-tgzlmvq9.dirlock
dask-worker-space/dask-scratch-space/worker-tm99l6jd.dirlock
dask-worker-space/dask-scratch-space/worker-tpq41w0i.dirlock
dask-worker-space/dask-scratch-space/worker-uohbzuag.dirlock
dask-worker-space/dask-scratch-space/worker-uu33cfru.dirlock
dask-worker-space/dask-scratch-space/worker-xqaq8m5b.dirlock
dask-worker-space/dask-scratch-space/worker-z3bpp6tj.dirlock
dask-worker-space/dask-scratch-space/worker-z25jj69f.dirlock
logs/#flagouter_10503571_5.err#
logs/#unflag_ms_10516155_3.err#
pipelines/#pipeline.SB82418.sh#
pipelines/pipeline_10s.SB82418.contimg.sh
pipelines/pipeline_10s.SB82418.sh
pipelines/pipeline.SB82418.contimg.sh
pipelines/pipeline.SB82418.sh
src/casa/__pycache__/ms_tools.cpython-310.pyc
